.dash-header{
    background-color: #2D2F36;
    text-align: right;
    font-size: 1.6em;
    padding: 12px 0px;
    display: flex;
}
.dash-header__container{
    display: flex;
    width: 100%;
}
.dash-header__logo{
    float: left;

}

.dash-header__logo img{
    margin: 0px 1.5em;
    width: 7em;
}
.dash-header__title{
    margin-left: 65%;
    float: right;
    font-size: 2rem;
    text-decoration: none;
}

.dash-header_logout-button{
    margin: auto 50%;
    padding: 0px 0px 0px 500px;
}